:root {
    --header-section-bg: #f0f2f5;
    --middle-header-bg: #53bdeb;
    --message-card-contact-color: #111B21;
    --message-card-date-color: #667781;
    --message-card-message-content-color: #3B4A54;
    --message-card-message-status-color: #adb8c0;
    --scrollbar-color: #c3c1bc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html::-webkit-scrollbar {
    width: 0.5vw;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: #c3c1bc;
    width: 1vw;
}

.aside-box {
    width: 480px;
    height: 100%;
    background-color: black;
    display: inline-block;
    vertical-align: top;
    position: sticky;
}

.body-section {
    width: 100%;
    height: 75%;
    overflow-y: scroll;
}

.body-section::-webkit-scrollbar {
    width: 0.5vw;
}

.body-section::-webkit-scrollbar-track {
    background-color: white;
}

.body-section::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
}
