.chat{
    flex: 0.65;
    display: flex;
    flex-direction: column;
}

.chat_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
    margin-top: 355px;
}

.chat_footer > form{
    flex: 1;
    display: flex;
}

.chat_footer > form > input{
    flex: 1;
    border-radius: 30px;
    border: none;
    padding: 10px;
}